.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, minmax(4em, auto));
  grid-gap: 1em;
}

.header {
  grid-column-start: 1;
  grid-column-end: 5;
  align-content: center;
}

form {
    margin-bottom: 1.5em;
}

label {
	float: left;
	text-align: right;
  width: 1em;
  margin-left: 2.5em;
  margin-right: 1em;
  font-family: monospace;
}

#signUp {
  grid-column-start: 1;
  grid-column-end: 3;
}

#signIn {
  grid-column-start: 3;
  grid-column-end: 5;
}

button {
  margin-top: 2em;
  color: #833AB4;
  font-family: monospace;
  font-size: medium;
}

button:active {
  background-color: #833AB4;
  color: white;
}

input:focus {
  background-color: #efe4f6;
}

.login {
  border: solid;
  text-align: center;
  border-left-color: #F56040;
  border-bottom-color: #C13584;
  border-right-color: #F4B400;
  border-top-color: #E1306C;
}

.allPeeps {
}

h1 {
  text-align: center;
  font-family: monospace;
  font-weight: bold;
  font-stretch: expanded;
  font-size: -webkit-xxx-large;
  color: #833AB4;
}

h2 {
  font-family: monospace;
}

.peep {
  list-style-type: none;
  border: 1px solid grey;
  border-radius: 4px;
  padding: 2px;
  margin: 2px;
}
